html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root {
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #ff2a2a;
  --dark-red: #dc2626;
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

h1 {
  font-size: var(--h1);
  text-align: center;
}

h2 {
  font-size: var(--h2);
}

body {
  background-color: var(--primary);
}

.warm {
  --primary: var(--light-red);
}

.cool {
  --primary: var(--light-blue);
}

.card {
  border: 2rem solid orange;
  padding: 1rem;
  margin-right: 10px;
  margin-left: 10px;

  margin-bottom: 10px;
  text-align: center;
  border-radius: 0.5rem;
  width: 26%;
  height: 475px;
  box-shadow: 0 0 12px 0 white;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
  margin-top: 100px;
}

img {
  object-fit: cover;
  height: 200px;
  width: auto;
}

@media (max-width: 1200px) {
  .card {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .card {
    width: 100%;
  }
}
