html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
img{
  object-fit: cover;
}
:root {

  --dark-blue: #050929;
  --cool-border:#143eff;

  --dark-red: #3f0d0d;
  --warm-border:#c88e6f;
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

h1 {
  font-size: var(--h1);
  text-align: center;
}
h3 {
  font-size: var(--h3);
  text-align: center;
}

body {
  background-color: var(--primary);
}
.warm {
  --primary: var(--dark-red);
}
.cool {
  --primary: var(--dark-blue);
}
.card {
  height: 360px;
  margin: 1rem auto;
  width: 24%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  box-shadow: 0 0 12px 0 white;
}
.warm .card{
  border: 2rem solid var(--warm-border);
}
.cool .card{
  border: 2rem solid var(--cool-border);
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2rem auto;
  justify-content: space-between;
}

img {
  object-fit: contain;
  height: 200px;
  width: auto;
}
#buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
button {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: white;
  border-radius: 1rem white;
}
.warm button {
  background-color: var(--dark-red);
}
.cool button{
  background-color: var(--dark-blue);
}